@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #2ecc71;
  --secondary-color: #e74c3c;
  --btn-color: #3498db;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop.display {
  display: block;
}

.heading {
  text-align: center;
}

.heading button {
  width: 30%;
  margin: 50px auto;
}

.form-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  margin: 100px auto;
  position: relative;
  display: none;
}

.form-container.visible {
  display: block;
  z-index: 100;
}

